<img src="http://imgur.com/1ZcRyrc.png" style="float: left; margin: 20px; height: 55px">

# Project 3: Part 2 - Clean Data

_Author: Sharnique Beck (BOS)_

---

In [4]:
# Cleaning imports:
import pandas as pd

from nltk.tokenize import RegexpTokenizer
from nltk.stem import WordNetLemmatizer
from nltk.corpus import stopwords

In [5]:
# read in collected subreddits
data = pd.read_csv('../data/reddit_data.csv')

In [6]:
data.head()

                                               title subreddit      id  y
0                     ‘Doom Patrol’ Trailer Released  DCcomics  a8bcpq  0
1  The Justice League Will Fight Their Future In ...  DCcomics  a8b67v  0
2                Themiscyra and Atlantis join the UN  DCcomics  a8b5vn  0
3  AQUAMAN MOVIE SPOILERS A brief history of Aqua...  DCcomics  a8ayau  0
4  Anyone else hate when comics change to match t...  DCcomics  a8ay4l  0

In [7]:
data.tail()

                                                  title subreddit      id  y
9995          Just my own little tribute to a great man    Marvel  9wnniw  1
9996          My tribute to Stan Lee. (1922-2018) R.I.P    Marvel  9wnlp4  1
9997  Saw this on fb and I feel like to share it wit...    Marvel  9wnkly  1
9998                    I drew Stan Lee R.I.P 1922-2018    Marvel  9wnivq  1
9999                                       RIP Stan lee    Marvel  9wngt5  1

In [8]:
# check random row 'title'
data['title'][634]

'Joker commission I drew in this book full of Batman Rogues. New 52 batman is my favorite. #SethGrovesArt'

In [9]:
toke = RegexpTokenizer('\w+') # collect words only
lem = WordNetLemmatizer()     # lemmatize words

# This function cleans data by collecting words, converting to lowercase, removing stop words, and lemmatizing
def pre_process(data):
    token = toke.tokenize(data.lower()) 
    stp = [word for word in token if not word in stopwords.words('english')]
    lem_w = [lem.lemmatize(i) for i in stp]
    msg =" ".join(lem_w)
    return msg

In [10]:
# Cleans review string, then appends to clean_posts.
clean_posts = []

for row in range(len(data)):
    clean_posts.append(pre_process(data['title'][row]))

In [11]:
clean_data = pd.DataFrame({'title':clean_posts,'y':data['y']})
clean_data.head()

                                               title  y
0                       doom patrol trailer released  0
1          justice league fight future 6th dimension  0
2                        themiscyra atlantis join un  0
3  aquaman movie spoiler brief history aquaman oc...  0
4  anyone else hate comic change match look esthe...  0

#### create rule to drop empty string after cleaning

In [12]:
# number of titles with empty strings after cleaning
len(clean_data[clean_data['title']==''])

28

In [13]:
# Convert empty strings into null value
clean_data['title'] = clean_data['title'].map(lambda x: pd.np.nan if x =='' else x)

In [14]:
# Drop empty title rows
clean_data.dropna(inplace = True)

In [16]:
# save clean data set as csv
clean_data.to_csv('../data/clean_data.csv', index=False)

In [17]:
clean_data.shape

(9972, 2)